<html>
<head>

  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Hello, World | Zach Krall</title>

  <link rel="stylesheet" href="style.css" />
  <script src="https://vuejs.org/js/vue.js"></script>

</head>
<body>

  <header>
  <h1>Hello, World</h1>
  </header>

  <div id="about">
  Zach Krall is an artist-coder based in Brooklyn, NY. Learn more at <a href="https://zachkrall.com">my website</a> or <a href="http://resume.zachkrall.com">my resume</a>.
  </div>

  <div id="loading">Loading...</div>
  <div id="app">

    <section v-for="section in portfolio" class="projects">
    <h2>{{ section.data.length }} {{ section.title }}</h2>
      <div v-for="item in section.data" class="project">
        <span class="pTitle">{{ item.title }}</span>
        <span class="pDesc">{{ item.desc.toLowerCase() }}</span>
        <span class="pLink" v-if="item.link"><a v-bind:href="item.link.url">{{ item.link.title.toLowerCase() }}</a></span>
      </div>
    </section>

  </div>

  <script src="app.js"></script>
</body>
</html>
